<script th:src="@{/scripts/personal/addrefund.js}"></script>

<form id="saveForm" action="./addrefund" method="post">
    <table class="addNewInfList">
        <tr>
            <th>申请理由</th>
            <td><input class="inp-list w-200 clear-mr f-left" type="text"   id="information" name="information"  maxlength="120" /></td> 
            <input  type="hidden"   id="ticket_id" name="ticket_id"  th:value="${ticket_id}" />           
        </tr>
        
    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 saveBtn" href="javascript:void(0)">确定</a>
        <a class="btn-93X38 backBtn" href="javascript: closeDialog()">返回</a>
    </div>
</form>


