<script th:src="@{/scripts/personal/detail.js}"></script>

<form id="saveForm" action="./addrefund" method="post">
    <table class="addNewInfList">
        <tr>
            <th>车牌号</th>
            <td class="inp-list w-200 clear-mr f-left">粤B1232456</td>
         </tr>
          <tr>    
            <th>车费</th>
            <td class="inp-list w-200 clear-mr f-left">60.0</td>
         </tr>
         <tr>  
            <th>座位</th>    
            <td class="inp-list w-200 clear-mr f-left">25</td>
       	<tr> 
        
    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 backBtn" href="javascript: closeDialog()">返回</a>
    </div>
</form>


