<script th:src="@{/scripts/business/changeresult.js}"></script>

<form id="saveForm" action="./addrefund" method="post">
    <table class="addNewInfList">
        <tr>
            <th>审核结果</th>
            <td><input class="inp-list w-200 clear-mr f-left" type="text"   id="result" name="result"  maxlength="120" /></td> 
            <input  type="hidden"   id="change_id" name="change_id"  th:value="${change_id}" />
                        
        </tr>
        
    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 saveBtn" href="javascript:void(0)">确定</a>
        <a class="btn-93X38 backBtn" href="javascript: closeDialog()">返回</a>
    </div>
</form>


