<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>
    <title>电影管理</title>

    <link th:href="@{/scripts/pagination/pagination.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/scripts/artDialog/default.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/scripts/My97DatePicker/skin/WdatePicker.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/styles/index.css}" rel="stylesheet"  type="text/css"/>
 <!-- 
    <script th:src="@{/scripts/pagination/jquery.pagination.js}"></script>
    <script th:src="@{/scripts/jquery.smartselect-1.1.min.js}"></script>
    <script th:src="@{/scripts/My97DatePicker/WdatePicker.js}"></script>
	<script th:src="@{/scripts/movie/list.js}"></script> 
	-->
	<script th:src="@{/scripts/business/change.js}"></script> 
</head>
<body>
<div class="locationLine" layout:fragment="prompt">
    当前位置：首页 &gt; <em >业务服务管理</em>
</div>

<div class="statisticBox w-782"  layout:fragment="content">
     <div class="dataDetailList mt-12">   
    <table class="dataListTab">
    	<thead>
            <tr>
                <th>车票订单号</th>
                <th>退票理由</th>
                <th>订单类型</th> 
                <th>操作</th>                             
            </tr>
        </thead>    
            <tr th:each="changeapply : ${listp}">
            	<td th:text="${changeapply.changeapply_id}"></td>
            	<td th:text="${changeapply.information}"></td>
            	<td th:text="个体购票"></td>
            	<td><a class="c-50a73f mlr-6" href="javascript:void(0)" th:onclick="|refund(${changeapply.changeapply_id})|">处理</a></td>
            </tr>
    	
    </table>
    </div>
</div>

</body>
</html>